# Entorno virtual
venv/
*.pyc
__pycache__/
.git/


# Archivos de sistema
.DS_Store
Thumbs.db

# Base de datos local o datos grandes
db/
data/
chroma_db/
.DS_Store

# Archivos temporales o logs
*.log

